* {
    margin: 0;
    padding:0;
    /* css3盒子模型 */
    box-sizing: border-box;
}
em,
i {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    /* 照顾低版本浏览器 */
    border: 0;
    vertical-align: -webkit-baseline-middle;
}

button,
input {
    cursor: pointer;
    border: 0;
    outline: none;
}

a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color:red;
}
.hide,
.none {
    display: none;
}
